*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $color--bg--main;
    font-family: poppins;
    .container{
        max-width: 1280px;
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
    }
}
@media(max-width: 1200px) and (min-width: 993px){
    body{
        background: #000;
    }
}

@media(max-width: 992px) and (min-width: 768px){
    body{
        background: red;
    }
}

@media(max-width: 767px) and (min-width: 576px){
    body{
        background: blue;
    }
}

@media(max-width: 575px){
    body{
        background: pink;
    }
}