@media(max-width: 1200px) and (min-width: 993px){
        .header{
            height: 80px;
            background: red;
            width: 100%;
            padding: 0 25px;
            border-bottom: 1px solid $color--border;
            .right-header{
                width: 200px;
                .btn{
                    width: 90px;
                    height: 30px;
                    border-radius: 8px;
                    line-height: 30px;
                    .btn-download{
                        background-color: red;
                    }
                }
            }    
        }
        .sidebar{
            width: 0;
            height: 100vh;
            padding: 0 30px;
        }
}