body{
    .main{
        .header{
            position: fixed;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 100px;
            background: $color-surface;
            width: 80%;
            padding: 0 30px;
            border-bottom: 1px solid $color-border;
            .start-header{              
                .btn-open-sidebar{
                    display: none;
                    width: 40px;
                    height: 40px;
                    position: absolute;
                    top: 20px;
                    left: 0px;
                    border-radius: 50%;
                    border: none;
                    outline: none;
                    background: $color-btn-primary;
                    color: $color-surface;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
                }
                .title-header{
                    font-weight: 400;
                    font-weight: poppins;
                }
            }
            .end-header{
                display: flex;
                justify-content: space-between;
                width: 220px;
                .btn{
                    width: 107px;
                    height: 40px;
                    border-radius: 10px;
                    line-height: 40px;
                    outline: none;
                    text-align: center;
                    font-weight: 200;
                    font-family: poppins;
                    padding: 0;
                }
                .btn-download{
                    background-color: $color-surface;
                    border: 1px solid $color-border;
                }
                .btn-create{
                    background: $color-btn-primary;
                    color: $color-surface;
                    border: none;
                }
            }
        }
        @media(max-width: 1200px) and (min-width: 993px){
            .header{
                height: 80px;
                width: 100%;
                padding: 0 25px;
                border-bottom: 1px solid $color-border;
                transition: all 0.3s;
                .start-header{
                    position: relative;
                    .title-header{
                        margin-left: 100px;
                        line-height: 80px;
                        font-size: 2rem;
                    }
                    .btn-open-sidebar{
                        display: block;
                    }
                }
                .end-header{
                    width: 190px;
                    .btn{
                        width: 90px;
                        height: 30px;
                        border-radius: 6px;
                        line-height: 30px;
                        font-size: 0.75rem;
                    }
                }    
            }
            .header-toggle{
                width: 80%;
            }
        }
        @media(max-width: 992px){
            .header{
                width: 100%;
                .start-header{
                    .title-header{
                        margin-left: 60px;
                        font-size: 1.5rem;
                    }
                    .btn-open-sidebar{
                        display: block;
                        width: 30px;
                        height: 30px;
                        top: 30px;
                        left: 20px;
                    }
                }
                .end-header{
                    width: 170px;
                    .btn{
                        width: 80px;
                        height: 30px;
                        border-radius: 5px;
                        line-height: 30px;
                        font-size: 0.75rem;
                    }
                }
            }
        }
        @media(max-width: 575px){
            .header{
                padding: 0 10px;
                .start-header{
                    .title-header{
                        font-size: 1rem;
                    }
                }
                .end-header{
                    flex-direction: column;
                    width: 150px;
                    align-items: center;
                    .btn-download{
                        margin-bottom: 5px;
                    }
                }
            }
        }
    }
}

// @media(max-width: 1200px) and (min-width: 993px){}

// @media(max-width: 992px) and (min-width: 768px){
//     body{
//         background: #000;
//     }
// }

// @media(max-width: 767px) and (min-width: 576px){
//     body{
//         background: #000;
//     }
// }

// @media(max-width: 575px){
//     body{
//         background: #000;
//     }
// }