body{
    .container{
        .sidebar{
            width: 20%;
            height: 100vh;
            background: $color--surface;
            border: 1px solid $color--border;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 0 30px;
            .top-sidebar{
                .sidebar-logo{
                    height: 100px;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    .sidebar-logo-link{
                        color: $color--onsurface;
                        font-size: 28px;
                        i{
                            margin-right: 20px;
                        }
                    }
                }
                .first-item-list{
                    height: auto;
                    min-height: 40px;
                    line-height: 40px;
                    .first-item-list-link{
                        color: $color--text--menu;
                        display: block;
                        font-weight: 200;
                        position: relative;
                        transition: all 0.2s;
                        i{
                            color: $color--icon--menu;
                            transition: all 0.2s;
                        }
                        .home{
                            margin-right: 10px;
                        }
                        .arrow{
                            position: absolute;
                            right: 0;
                            top: calc(50% - 10px);
                        }
                        &:hover{
                            color: $color--onsurface;
                            i{
                                color: $color--onsurface;
                            }
                        }
                    }
                    .submenu-list{
                        display: none;
                        li{
                            .submenu-list-link{
                                color: $color--text--menu;
                                display: block;
                                font-weight: 200;
                            }
                        }
                    }
                    .active{
                        display: block;
                    }
                }
            }
            .bottom-sidebar{
                min-height: 40px;
                line-height: 40px;
                .control-user-menu{
                    li{
                        .control-user-menu-link{
                            color: $color--text--menu;
                            display: block;
                            font-weight: 200;
                            position: relative;
                            transition: all 0.2s;
                            i{
                                margin-right: 12px;
                            }
                            &:hover{
                                color: $color--onsurface;
                                i{
                                    color: $color--onsurface;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media(max-width: 1200px) and (min-width: 993px){
    body{
        background: #000;
    }
}

@media(max-width: 992px) and (min-width: 768px){
    body{
        background: #000;
    }
}

@media(max-width: 767px) and (min-width: 576px){
    body{
        background: #000;
    }
}

@media(max-width: 575px){
    body{
        background: #000;
    }
}