$color-surface: #fff;
$color-btn-primary: #4c6fff;
$color-border: rgba(0, 0, 0, 0.1);
$color-bg-main: #f7fafc;
$color-on-surface: #7a6bff;
$color-text-menu: #6c757e;
$color-icon-menu: rgba(0, 0, 0, 0.25);
$color-close: red;