@import"./custom";
@import"./font";
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-bg-main;
    font-family: poppins;
    height: 3000px;
}


