.main {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

@media (max-width: 992px) {
  .main {
    flex-direction: column;
  }
}
@font-face {
  font-family: poppins;
  font-weight: 100;
  src: url("../../../assets/fonts/Poppins/Poppins-Light.ttf");
}
@font-face {
  font-family: poppins;
  font-weight: 200;
  src: url("../../../assets/fonts/Poppins/Poppins-Medium.ttf");
}
@font-face {
  font-family: poppins;
  font-weight: 300;
  src: url("../../../assets/fonts/Poppins/Poppins-Regular.ttf");
}
@font-face {
  font-family: poppins;
  font-weight: 400;
  src: url("../../../assets/fonts/Poppins/Poppins-Bold.ttf");
}
@font-face {
  font-family: poppins;
  font-weight: 500;
  src: url("../../../assets/fonts/Poppins/Poppins-Black.ttf");
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7fafc;
  font-family: poppins;
  height: 3000px;
}

body .main .header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  background: #fff;
  width: 80%;
  padding: 0 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
body .main .header .start-header .btn-open-sidebar {
  display: none;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 20px;
  left: 0px;
  border-radius: 50%;
  border: none;
  outline: none;
  background: #4c6fff;
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
body .main .header .start-header .title-header {
  font-weight: 400;
  font-weight: poppins;
}
body .main .header .end-header {
  display: flex;
  justify-content: space-between;
  width: 220px;
}
body .main .header .end-header .btn {
  width: 107px;
  height: 40px;
  border-radius: 10px;
  line-height: 40px;
  outline: none;
  text-align: center;
  font-weight: 200;
  font-family: poppins;
  padding: 0;
}
body .main .header .end-header .btn-download {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
body .main .header .end-header .btn-create {
  background: #4c6fff;
  color: #fff;
  border: none;
}
@media (max-width: 1200px) and (min-width: 993px) {
  body .main .header {
    height: 80px;
    width: 100%;
    padding: 0 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  body .main .header .start-header {
    position: relative;
  }
  body .main .header .start-header .title-header {
    margin-left: 100px;
    line-height: 80px;
  }
  body .main .header .start-header .btn-open-sidebar {
    display: block;
  }
  body .main .header .end-header {
    width: 200px;
  }
  body .main .header .end-header .btn {
    width: 90px;
    height: 30px;
    border-radius: 6px;
    line-height: 30px;
  }
}
@media (max-width: 992px) {
  body .main .header {
    width: 100%;
  }
}
@media (max-width: 575px) {
  body .main .header .start-header .title-header {
    font-size: 1.5rem;
  }
  body .main .header .end-header {
    width: 170px;
  }
  body .main .header .end-header .btn {
    width: 80px;
    height: 30px;
    border-radius: 5px;
    line-height: 30px;
    font-size: 0.75rem;
  }
}

body .main .btn-up-down {
  display: none;
}
body .main .sidebar {
  position: fixed;
  left: 0;
  width: 20%;
  min-height: 100vh;
  height: auto;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s;
}
body .main .sidebar .top-sidebar .sidebar-logo {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
body .main .sidebar .top-sidebar .sidebar-logo .sidebar-logo-link {
  padding: 0 40px;
  color: #7a6bff;
  font-size: 2rem;
}
body .main .sidebar .top-sidebar .sidebar-logo .sidebar-logo-link .icon {
  margin-right: 20px;
}
body .main .sidebar .top-sidebar .menu-sidebar {
  padding: 0;
}
body .main .sidebar .top-sidebar .menu-sidebar .first-item-list {
  height: auto;
  min-height: 40px;
  line-height: 40px;
}
body .main .sidebar .top-sidebar .menu-sidebar .first-item-list .first-item-list-link {
  padding: 0 30px;
  color: #6c757e;
  display: block;
  font-weight: 200;
  position: relative;
  transition: all 0.2s;
}
body .main .sidebar .top-sidebar .menu-sidebar .first-item-list .first-item-list-link .icon {
  color: rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
}
body .main .sidebar .top-sidebar .menu-sidebar .first-item-list .first-item-list-link .home {
  margin-right: 10px;
}
body .main .sidebar .top-sidebar .menu-sidebar .first-item-list .first-item-list-link .arrow {
  position: absolute;
  right: 10px;
  top: calc(50% - 10px);
}
body .main .sidebar .top-sidebar .menu-sidebar .first-item-list .first-item-list-link .arrow-active {
  transform: rotate(90deg);
}
body .main .sidebar .top-sidebar .menu-sidebar .first-item-list .first-item-list-link:hover {
  color: #7a6bff;
}
body .main .sidebar .top-sidebar .menu-sidebar .first-item-list .first-item-list-link:hover .icon {
  color: #7a6bff;
}
body .main .sidebar .top-sidebar .menu-sidebar .first-item-list .submenu-list {
  display: none;
}
body .main .sidebar .top-sidebar .menu-sidebar .first-item-list .submenu-list .submenu-list-link {
  color: #6c757e;
  display: block;
  font-weight: 200;
  padding-left: 35px;
}
body .main .sidebar .top-sidebar .menu-sidebar .first-item-list .active {
  display: block;
}
body .main .sidebar .bottom-sidebar {
  min-height: 40px;
  line-height: 40px;
}
body .main .sidebar .bottom-sidebar .control-user-menu .control-user-menu-link {
  color: #6c757e;
  display: block;
  font-weight: 200;
  position: relative;
  transition: all 0.2s;
}
body .main .sidebar .bottom-sidebar .control-user-menu .control-user-menu-link .icon {
  margin-right: 12px;
}
body .main .sidebar .bottom-sidebar .control-user-menu .control-user-menu-link:hover {
  color: #7a6bff;
}
body .main .sidebar .bottom-sidebar .control-user-menu .control-user-menu-link:hover .icon {
  color: #7a6bff;
}
@media (max-width: 1200px) and (min-width: 993px) {
  body .main .sidebar {
    width: 0;
    visibility: hidden;
    padding: 0;
    border: 0;
  }
  body .main .sidebar .top-sidebar .sidebar-logo {
    height: 90px;
  }
  body .main .sidebar .top-sidebar .sidebar-logo .sidebar-logo-link {
    color: #7a6bff;
    font-size: 1.5rem;
  }
  body .main .sidebar .top-sidebar .sidebar-logo .sidebar-logo-link .icon {
    margin-right: 15px;
  }
  body .main .open-sidebar {
    width: 20%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0 30px;
    visibility: visible;
  }
}
@media (max-width: 992px) {
  body .main .sidebar {
    width: 100%;
    height: 0;
    min-height: 0;
    visibility: hidden;
  }
  body .main .btn-up-down {
    display: block;
    width: 100%;
    height: 30px;
    color: #4c6fff;
    background: #fff;
    outline: none;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
  }
  body .main .btn-up-down .icon {
    font-size: 1.25rem;
  }
  body .main .show {
    visibility: visible;
    min-height: 100px;
    height: auto;
  }
}

/*# sourceMappingURL=style.css.map */
