body .container .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  background: #fff;
  width: 80%;
  padding: 0 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
body .container .header .left-header .title-header {
  font-weight: 400;
  font-weight: poppins;
}
body .container .header .right-header {
  display: flex;
  justify-content: space-between;
  width: 210px;
}
body .container .header .right-header .btn {
  width: 100px;
  height: 40px;
  border-radius: 10px;
  line-height: 40px;
  outline: none;
  text-align: center;
  cursor: pointer;
  font-weight: 200;
  font-family: poppins;
}
body .container .header .right-header .btn-download {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
body .container .header .right-header .btn-create {
  background: #4c6fff;
  color: #fff;
  border: none;
}

body .container .sidebar {
  width: 20%;
  height: 100vh;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 30px;
}
body .container .sidebar .top-sidebar .sidebar-logo {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
body .container .sidebar .top-sidebar .sidebar-logo .sidebar-logo-link {
  color: #7a6bff;
  font-size: 28px;
}
body .container .sidebar .top-sidebar .sidebar-logo .sidebar-logo-link i {
  margin-right: 20px;
}
body .container .sidebar .top-sidebar .first-item-list {
  height: auto;
  min-height: 40px;
  line-height: 40px;
}
body .container .sidebar .top-sidebar .first-item-list .first-item-list-link {
  color: #6c757e;
  display: block;
  font-weight: 200;
  position: relative;
  transition: all 0.2s;
}
body .container .sidebar .top-sidebar .first-item-list .first-item-list-link i {
  color: rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
}
body .container .sidebar .top-sidebar .first-item-list .first-item-list-link .home {
  margin-right: 10px;
}
body .container .sidebar .top-sidebar .first-item-list .first-item-list-link .arrow {
  position: absolute;
  right: 0;
  top: calc(50% - 10px);
}
body .container .sidebar .top-sidebar .first-item-list .first-item-list-link:hover {
  color: #7a6bff;
}
body .container .sidebar .top-sidebar .first-item-list .first-item-list-link:hover i {
  color: #7a6bff;
}
body .container .sidebar .top-sidebar .first-item-list .submenu-list {
  display: none;
}
body .container .sidebar .top-sidebar .first-item-list .submenu-list li .submenu-list-link {
  color: #6c757e;
  display: block;
  font-weight: 200;
}
body .container .sidebar .top-sidebar .first-item-list .active {
  display: block;
}
body .container .sidebar .bottom-sidebar {
  min-height: 40px;
  line-height: 40px;
}
body .container .sidebar .bottom-sidebar .control-user-menu li .control-user-menu-link {
  color: #6c757e;
  display: block;
  font-weight: 200;
  position: relative;
  transition: all 0.2s;
}
body .container .sidebar .bottom-sidebar .control-user-menu li .control-user-menu-link i {
  margin-right: 12px;
}
body .container .sidebar .bottom-sidebar .control-user-menu li .control-user-menu-link:hover {
  color: #7a6bff;
}
body .container .sidebar .bottom-sidebar .control-user-menu li .control-user-menu-link:hover i {
  color: #7a6bff;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f7fafc;
  font-family: poppins;
}
body .container {
  max-width: 1280px;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

/*# sourceMappingURL=style.css.map */
